.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 20px; */
}

.me {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


#ME {
  width: 100px !important;
  border-radius: 5px;
  margin: 20px 20px;
}

#ME_HEADER {
  width: 80px !important;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: none;
}

.header .title {
  /* background-color: lime; */
  padding: 2.45rem 1.0875rem;
  color: white;
  margin-bottom: 1px;
}

div.body {
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  /* padding: 2.45rem 1.0875rem; */
  background-color: white;
  /* padding-left: 200px; */
}

/* Section CSS */
.section {
  height: 100vh;
  padding-top: 50px;
  padding-left: 220px;

}

/* The side navigation menu */
.sidebar {
  /* margin-top: 20px; */
  padding: 1px 16px;  
  width: 200px;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* box-shadow: 3px 3px 5px grey;; */
}

.sidebar .footer {
  align-self: flex-end;
  bottom:0px;
  position: absolute;
}

/* Sidebar links */
.sidebar a {
  color: black;
  text-decoration: none;
}

/* Active/current link */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a.active {
  /* background-color: ; */
  /* color: green; */
  text-decoration: underline;
}

/* Links on mouse-over */
a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #ME_HEADER {
    display: block;
  }

  .header {
    align-items: center;
  }
  .header .title {
    padding: 1.45rem 1.0875rem;
  }

  .sidebar {
    display: none;
  }

  div.body {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: #222222;
}


#about {
  padding-top: 30vh;
}

#work{
  /* background-color: #A52A2A */
}

#media { 
  /* background-color:#FFB6C1; */
}